<html>
	<head>
		<title>PAGE POTIN </title>
	</head>
	<body> 
		<h1>Voici la page du potin n° <%= id  %></h1>
		<p>L'auteur : <%= gossip.author %></p>
		<p>Le contenu: <%= gossip.content %></p>
  
		<p>
        <br> 
        <a href="/">Retour à la page des potins</a></p>
        <a href="/gossips/<%= id %>/edit">Editer</a>
	</body>
</html>